<script src="https://giscus.app/client.js"
        data-repo="mocdaniel/dbodky.me"
        data-repo-id="R_kgDOK97X3w"
        data-category="Announcements"
        data-category-id="DIC_kwDOK97X384CcAof"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
